@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Lato:wght@300&family=Merriweather&family=Montserrat:wght@200;500&family=Open+Sans&family=Poppins:wght@200&family=Raleway&family=Roboto:wght@300&family=Source+Sans+Pro:ital@1&display=swap');

header .container{
    border-bottom: 1px solid gray;
}

.container .section_left h2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-top: 15px;
    font-weight: bold;
}

.container .section_left i{
    margin: 3px;
}


.container .section_left p{
    margin-left: 430px;
    font-size: 40px;
    font-family:'Merriweather', serif ;
}


.container .section_right h2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin: 5px;
    margin-top: 15px;
    font-weight: bold
}

.container .section_right i{
    padding: 5px;
}


.navbar-nav{
    padding: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.navbar-nav a{
    color: #333333;
}


.main_div{
    height: 150px;
    background-color:#F5F5F5 ;
    margin: 10px;
    padding-top: 20px;
}

.main_div h2{
    margin-left: 13%;
    padding-top: 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.main_div .breadcrumb{
    margin-left: 13%;
}
.main_div .breadcrumb a{
    text-decoration: none;
    color: #6c757d;
  
}

.main_div2{
   margin-left: 13%;
 
}

.main_div2 .card{
    border: none;
}
.main_div2 .col-md-8{
    width: 555px;
    margin-top: 20px;
    margin-left: 10%;
}

.main_div2 .col-md-8 .card-body .card-title{
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.main_div2 .col-md-8 .card-body .card-text{
    font-size: 15px;
    font-family:'Poppins', sans-serif ;
    color: #757575;
    font-weight: bold;
}

.main_div2 .col-md-8 .card-body button{
    background-color: black;
    color: white;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
}

.main_div3{
    margin-top: 50px;
    margin-left: 25%;
    /* padding: 10px; */
}

.main_div3 .img_div img{
  /* padding: 25px; */

  margin: 30px;
}

.main_div4  .team{
    margin-left: 45%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-weight: bolder;
}

.main_div4 .inner_div{
    display: flex;
    justify-content: space-evenly;
}

.main_div4 .inner_div .img_div img{
 
    border-radius: 50%;
}

.main_div4 .inner_div .img_div h2{
    padding: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-weight: bolder;
    /* margin-left: 25px; */
    text-align: center;

}

.main_div4 .inner_div .img_div h3{
    /* padding: 5px; */
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-weight: bold;
    /* margin-left: 5%; */
    text-align: center;
}


.main_div5 .bg{
    height: 285px;
    background-image: linear-gradient(rgba(255, 255, 255,0.7),rgba(255, 255, 255,0.5)),url(../image/bg-1.jpg);
    
}


footer{
    background-color: #F7F7F7;
    height: 230px;
    text-align: center;
}

footer .links i{
    padding-top: 50px;
    margin: 10px;
}

footer .tags , .copyright{
    margin-top: 20px;
}

footer .tags a{
    text-decoration: none;
   
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    font-family:'Poppins', sans-serif ;
}

footer .copyright p{
    font-size: 15px;
    color: #757575;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
}

footer .copyright p a{
    font-size: 15px;
    color: #333333;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    text-decoration: none;
}