@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Lato:wght@300&family=Merriweather&family=Montserrat:wght@200;500&family=Open+Sans&family=Poppins:wght@200&family=Raleway&family=Roboto:wght@300&family=Source+Sans+Pro:ital@1&display=swap');


header .container{
    border-bottom: 1px solid gray;
}

.container .section_left h2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-top: 15px;
    font-weight: bold;
}

.container .section_left i{
    margin: 3px;
}


.container .section_left p{
    margin-left: 430px;
    font-size: 40px;
    font-family:'Merriweather', serif ;
}


.container .section_right h2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin: 5px;
    margin-top: 15px;
    font-weight: bold
}

.container .section_right i{
    padding: 5px;
}


.navbar-nav{
    padding: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.navbar-nav a{
    color: #333333;
}


.main_div{
    height: 150px;
    background-color:#F5F5F5 ;
    margin: 10px;
    padding-top: 20px;
}

.main_div h2{
    margin-left: 13%;
    padding-top: 13px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.main_div .breadcrumb{
    margin-left: 13%;
}
.main_div .breadcrumb a{
    text-decoration: none;
    color: #6c757d;
  
}

.main_div2{
    justify-content: center;
    padding: 60px;
}

.main_div2 form{
    width: 455px;
}

.main_div2 button{
    width: 455px;
    background-color: black;
    color: #F5F5F5;
}

.main_div2 .map{
    margin-left: 40px;
}

.main_div2 .map .tags h2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color: #555555;
}


   
.main_div2 .map .tags i{
    margin: 6px;
}

.main_div2 .map .links a{
    border: 1px solid #333333;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    
    
}
.main_div2 .map .links i{
    color: #333333;
    padding: 10px;
    margin-top: 10px;
}




footer{
    margin-top: 40px;
    background-color: #F7F7F7;
    height: 230px;
    text-align: center;
}

footer .links i{
    padding-top: 50px;
    margin: 10px;
}

footer .tags , .copyright{
    margin-top: 20px;
}

footer .tags a{
    text-decoration: none;
   
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    font-family:'Poppins', sans-serif ;
}

footer .copyright p{
    font-size: 15px;
    color: #757575;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
}

footer .copyright p a{
    font-size: 15px;
    color: #333333;
    font-family:'Poppins', sans-serif ;
    font-weight: bold;
    text-decoration: none;
}